@font-face {
    font-family: 'Korinna Bold';
    src: url('fonts/Korinna Bold.ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Brush Script Standard Medium';
    src: url('fonts/BrushScriptStd.otf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Oswald Bold';
  src: url('fonts/Oswald-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rock Salt';
  src: url('fonts/RockSalt.ttf');
  font-weight: normal;
  font-style: normal;
}

$background-color: #0B1885;