body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div.wheel-container {
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.container {
	width: 1030px;
	height: 600px;
	background-image: url("background.png");
	background-size: 100% 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
}

div.left-panel {
	width: 415px;
	height: 600px;
}

div.right-panel {
	width: 415px;
	height: 600px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

div#pointer-panel {
  background-color: transparent;
  height: 150px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  background-image: url("pointer.png");
  background-size: 100% 100%;
}

div.wedge {
	width: 150px;
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 200%;
	font-family: Impact;
	background-size: 100% 100%;
}

.wedge p {
  color: white;
}

div.green {
  background-color: green;
  color: teal;
}

div.dollar {
  color: red;
}

div.vert {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
