div.player-panel-bar {
	display: none;
}

@media screen and (max-width: 799px) {
	div.player-panel-bar {
		display: flex;
		height: 20px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	    background: #888888; /* For browsers that do not support gradients */
	    background: -webkit-linear-gradient(#666666, #AAAAAA); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient(#666666, #AAAAAA); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient(#666666, #AAAAAA); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(#666666, #AAAAAA); /* Standard syntax */
	}

	p.player-panel-bar {
		color: white;
		text-transform: uppercase;
		font-weight: bold;
		text-shadow: 0px 0px 2px 1px;
		font-family: Verdana;
	}
}