@import url('https://fonts.googleapis.com/css?family=Raleway');

#formDiv {
	width: 100%;
	display: flex;
	align-items: stretch;
	flex-direction: column;
	justify-content: center;

	> form {
		> select {
			width: 100%;
			height: 40px;
			border: 0;
			border-bottom: 2px solid teal;
			margin-bottom: 10px;
			font-family: Verdana, Geneva, sans-serif;
		}

		> input[type=text], > input[type=password] {
			font-family: Verdana, Geneva, sans-serif;
			border: none;
			border-bottom: 2px solid teal;
			height: 30px;
			box-sizing: border-box;
			width: 100%;
			margin-bottom: 10px;
		}

		> input[type=submit] {
			font-family: Verdana, Geneva, sans-serif;
			background-color: teal;
			border: none;
			color: white;
			height: 40px;
			width: 100%;
			border-radius: 5px;
			margin-bottom: 10px;
			font-size: 100%;
			cursor: pointer;
		}
	}
	
}

div.subLink {
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	> a {
		color: #888888;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
	}
}

div.content {
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

h2 {
	font-family: 'Raleway', sans-serif;
}

h3 {
	font-family: 'Raleway', sans-serif;
}

body {
	background-color: white;
	font-family: Verdana, Geneva, sans-serif;
}

a.button {
	display: block;
	background-color: teal;
	border: none;
	border-radius: 5px;
	height: 40px;
	color: white;
	text-align: center;
	line-height: 40px;
	margin: 5px;
	text-decoration: none;
	cursor: pointer;

	&.inactive {
		background-color: grey;
		cursor: initial;
	}
}

#logo {
	width: auto;
	max-height: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto
}

div.error {
	border: 1px solid red;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 10px;

	> p {
		margin-top: 5px;
		margin-bottom: 5px;
		color: red;
		font-size: 75%;
	}
}

div.about-content {
	display: flex;
	flex-direction: row;
	margin: 10px 0 10px 0;
}

div.about-text {
	margin: 0 10px 0 10px;
}

div.img-container {
	border: 1px solid grey;
	border-radius: 5px;
	padding: 5px;

	> a > img {
		max-width: 500px;
		max-height: 500px;
	}
}

p.img-caption {
	font-size: 75%;
	font-style: italic;
}

@media screen and (max-width: 799px) {
	div.about-content {
		flex-direction: column;
	}

	.img-container > a > img {
		max-width: 100%;
		max-height: none;
	}
}

div.host-radio-group {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;

	> label {
		flex: 1 1 50%;
		font-size: 75%;
		border-radius: 5px;
		margin: 2px;
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		color: teal;
		border: 1px solid teal;
		cursor: pointer;

		&.active {
			background-color: teal;
			color: white;
			cursor: default;
		}

		> input[type=radio] {
			opacity: 0;
			height: 0;
			width: 0;
			font-size: 75%;
			margin: 0;
		}
	}
}