body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
}

#player-list {
  flex: 0 0 auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

#display-panel {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
  height: 100%;
  width: 100%;
}

.content {
  flex: 1 1 auto;
}

div .playerContainer {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

div .playerListing {
  flex: 0 1 auto;
  height: 100px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

p.playerListingName {
  color: white;
  text-align: center;
  font-size: 500%;
}

div.playerListingName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex: 4 4 80%;
  background-color: #0B1885;
  border: 1px solid black;
  padding-right: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

div.playerListingName.answering {
  background-color: blue;
}

p.playerListingDetails {
  font-family: Impact;
  color: white;
  font-size: 500%;
  text-shadow: 2px 2px black;
}

div.playerListingDetails {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex: 1 1 20%;
  background-color: #0B1885;
  border: 1px solid black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

div.playerListingDetails.answering {
  background-color: blue;
}