div.cashcard-viewport {
	height: 150px;
	width: 250px;
	overflow: hidden;

	position:absolute;
}

div.cashcard-collection {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
	width: 100%;
	height: 100%;
}

div.cashcard-machine {
	position: relative;
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.cashcard-reel {
	position: absolute;
	top: -1800px;

	&.spun {
		top: -150px;

		-webkit-animation: spin 2s linear;
		-moz-animation: spin 2s linear;
		-o-animation: spin 2s linear;
		animation: spin 2s linear;
	}
}

@keyframes spin {
	0% {
		top: -1800px;
	}
	70% {
		top: -130px;
	}
	80% {
		top: -160px;
	}
	90% {
		top: -155px;
	}
	100% {
		top: -150px;
	}
}