@import "general";

body {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	font-family: Verdana, Geneva, sans-serif;
}

$board-width: 80vmin;
$board-height: (0.75 * $board-width);
$option-width: ($board-width / 3) * 0.8;
$option-height: ($board-height / 3) * 0.8;
$option-shell-border: ($option-width * 0.04);

.fame-game-board-panel {
	background-image: url("88-93background.png");
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	.fame-game-board-ctr {
		height: $board-height;
		width: $board-width;
		padding: 5px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: stretch;
		background-color: beige;

		.option-row {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: stretch;
			
			.board-option-shell {
				background-color: black;
				height: $option-height;
				width: $option-width;
				border: $option-shell-border solid black;
			}
			.board-option {
				position: relative;
				
				height: 100%;
				width: 100%;
				transform-style: preserve-3d;
				&.selected {
					animation: option-spin 2s ease-in;
					animation-fill-mode: forwards;
	
					> .option-face, > .option-side, > .option-prize {
						transition: background-color 0.5s;
						background-color: white;
					}
				}
			}
			
			.option-face-image, .option-prize-image {
				height: 50%;
				width: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				transform-style: preserve-3d;
				border: 3px solid teal;
				border-radius: 2.5px;
	
				background-size: cover;
				background-position: center center;
			}
			
			div.option-face {
				position: absolute;
				top: 50%;
				left: 50%;
				height: 100%;
				width: 100%;
				flex: 1 1 auto;
				border: 1px solid black;
				background-color: #BBB;
				transform: translate3d(-50%, -50%, 15px);
				transform-style: preserve-3d;
				z-index: 1;
				backface-visibility: hidden;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			
			div.option-side {
				position: absolute;
				top: 50%;
				height: 100%;
				width: 30px;
				border: 1px solid black;
				background-color: grey;
				backface-visibility: hidden;
	
				&.left {
					transform: translateX(0px) translateY(-50%) rotateY(-90deg) translateZ(-15px);
				}
				
				&.right {
					transform: translateX($option-width) translateY(-50%) rotateY(90deg) translateZ(-15px);
				}
			}
			
			div.option-prize {
				position: absolute;
				top: 50%;
				left: 50%;
				height: 100%;
				width: 100%;
				border: 1px solid black;
				flex: 1 1 auto;
				background-color: grey;
				transform: rotateY(180deg) translate3d(50%, -50%, 15px);
				transform-style: preserve-3d;
				backface-visibility: hidden;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			
			@keyframes option-spin {
				from {transform: rotateY(0deg)}
				65% {transform: rotateY(-180deg)}
				75% {transform: rotateY(-160deg)}
				85% {transform: rotateY(-180deg)}
				90% {transform: rotateY(-170deg)}
				95% {transform: rotateY(-180deg)}
				97.5% {transform: rotateY(-175deg)}
				to {transform: rotateY(-180deg)}
			}
		}

		
	}
}