@import "general";
@import "../common/generic-buttons";
@import "../common/player-panel-bar";


$panel-border: #999999;
$sidebar-width: 300px;
$mobile-max: 799px;
$header-height: 50px;
$header-border-width: 1px;

body {
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
	font-family: Verdana, Geneva, sans-serif;
}



#body-panel {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}

#body-footer {
	text-align: center;
}

.main-panel {
	flex: 1 1 auto;
	height: calc(100% - (#{$header-height} + #{$header-border-width}));
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;

	@media screen and (max-width: $mobile-max) {
		height: calc(100% - (#{$header-border-width} + #{$header-height} + #{$player-panel-bar-height}));
	}
}

#question-panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	overflow: auto;
}
#question-panel p {
	text-align: center;
}

.mainpanel-enter {
	transform: translate(100%);
}

/*.mainpanel-enter.mainpanel-enter-active {
	transform: translate(0%);
	transition: transform 0ms ease-in-out;
}

.mainpanel-leave {
	transform: translate(0%);
}

.mainpanel-leave.mainpanel-leave-active {
	transform: translate(-100%);
	transition: transform 0ms ease-in-out;
}

.mainpanel-reverse-enter {
	transform: translate(-100%);
}

.mainpanel-reverse-enter.mainpanel-reverse-enter-active {
	transform: translate(0%);
	transition: transform 0ms ease-in-out;
}

.mainpanel-reverse-leave {
	transform: translate(0%);
}

.mainpanel-reverse-leave.mainpanel-reverse-leave-active {
	transform: translate(100%);
	transition: transform 0ms ease-in-out;
}*/

.header {
	flex: 0 0 $header-height;
	max-height: $header-height;
	border-bottom: 0.5px solid $panel-border;
}

.content {
	flex: 1 1 auto;
}

#body-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
	background-color: $background-color;
}

#game-title {
	font-size: 150%;
	flex: 1 0 auto;
	text-align: center;
	color: white;
	font-family: 'Korinna Bold';
}

#game-code {
	font-size: 200%;
	color: orange;
	flex: 0 0 auto;
	font-weight: bold;
}


/* Sidebar - Player Info */


#sidebar {
	flex: 0 0 $sidebar-width;
	display: flex;
	flex-direction: column;
	border-right: 0.5px solid $panel-border;
}

#player-count {
	font-size: 150%;
	flex: 1 0 auto;
	text-align: center;
	color: white;
	font-family: 'Korinna Bold';
}

#sidebar-header {
	background-color: $background-color;
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}

#sidebar-footer {
	text-align: center;
}

#player-list {
	flex: 0 0 $sidebar-width;
	display: flex;
	flex-direction: column;
	background-color: brown;
	overflow-y: auto;

	@media screen and (max-width: $mobile-max) {
		flex-grow: 1;
		position: absolute;
		width: 100%;
		z-index: 1;
		height: calc(100% - (#{$header-border-width} + #{$header-height} + #{$player-panel-bar-height}));

		&.hidden {
			display: none;
		}
	}
}

p .no-players {
	text-align: center;
	color: white;
}

div .playerListing {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid black;
}

p.playerListingName {
	color: white;
}

div.playerListingName {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	flex: 2 2 auto;
	height: 30px;
	background-color: $background-color;
	border-bottom: 1px solid black;
	padding-right: 5px;

	&.locked {
		background-color: grey;
	}

	&.answering {
		background-color: blue;
	}
}

p.playerListingDetails {
	font-family: 'Oswald Bold';
	color: white;
	font-size: 300%;
	text-shadow: 2px 2px black;

	&.negative {
		color: red;
	}
}

div.playerListingDetails {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	flex: 3 3 auto;
	height: 60px;
	background-color: $background-color;

	&.locked {
		background-color: grey;
	}

	&.answering {
		background-color: blue;
	}
}


div.player-details-panel {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

div.player-details-name {

}

div.player-details-score {

}

p.player-details-name {
	color: white;
	text-align: center;
	font-size: 150%;
	margin: 10px;
}

p.player-details-score {
	color: white;
	text-align: center;
	font-size: 200%;
	margin: 10px;
}

p.player-details-back {
	color: white;
	text-align: center;
	cursor: pointer;
}




/* No Question Panel */


div .no-question-panel {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: $background-color;
	color: white;
}

div .game-type-radio-group {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	label {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-left: 5px;
		margin-right: 5px;
	}
}

div.upload-file-dialog {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}


/* Open Question Panel */


div #open-question-panel {
	display: flex;
	position: relative;
	flex: 1 1 auto;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	background-color: $background-color;
	padding: 5px;
	max-width: auto;
}

div.open-question-header {
	flex: 0 0 auto;
	height: 30px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	border: 1px solid white;
}

p.open-question-category {
	
	color: white;
	text-transform: uppercase;
	font-size: 150%;
}

p.open-question-value {

	color: orange;
	font-family: 'Oswald Bold';
	font-size: 150%;
}

div.open-question-clue {
	flex: 1 1 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid white;
}

p.open-question-clue {
	color: white;
	font-size: 150%;
	font-family: 'Korinna Bold';
}

div.open-question-correct {
	flex: 1 1 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid white;
}

p.open-question-correct {
	color: white;
	font-family: 'Korinna Bold';
	font-size: 150%;
}

div.buzzer-panel {
	flex: 0 0 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid white;
}

p.buzzer-panel {
	color: white;
	font-family: 'Korinna Bold';
	font-size: 150%;
	margin: auto;
}

div.button-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex: 0 0 auto;
	width: 100%;

	&.space-between {
		justify-content: space-between;
	}

	&.recursive {
		width: auto;
	}
}

/* Gift Shop */

div.gift-shop {
	display: flex;
	position: relative;
	flex: 1 1 auto;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	background-color: $background-color;
	padding: 5px;
	max-width: auto;
}

div.gift-shop-header {
	flex: 0 0 auto;
	height: 30px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	border: 1px solid white;
	
	> p {
	
		color: white;
		text-transform: uppercase;
		font-size: 150%;
	}
}


div.gift-shop-prize-desc {
	flex: 2 2 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid white;
	> p {
		color: white;
		font-size: 150%;
		font-family: 'Korinna Bold';
	}
}

div.gift-shop-variable-panel {
	flex: 1 1 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 1px solid white;
}

div.gift-shop-variable {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	> input[type=number] {
		width: auto;
		font-size: 150%;
		text-align: center;
		max-width: 100px;
	}
	
	> p {
		color: white;
		font-size: 150%;
		font-family: 'Korinna Bold';
	}
}

div.gift-shop-end-button {
	flex: 0 0 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid white;

	> p {
		color: white;
		font-family: 'Korinna Bold';
		font-size: 150%;
		margin: auto;
	}
}

/* Cash Card */

div.cash-card {
	display: flex;
	position: relative;
	flex: 1 1 auto;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	background-color: $background-color;
	padding: 5px;
	max-width: auto;
}

div.cash-card-header {
	flex: 0 0 auto;
	height: 30px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	border: 1px solid white;
	
	> p {
	
		color: white;
		text-transform: uppercase;
		font-size: 150%;
	}
}

div.cash-card-sell-container {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;

}

div.cash-card-suit-container {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	padding: 5px;
	border: 1px solid white;
}

div.cash-card-suit-row {
	flex: 1 1 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
}

div.cash-card-suit {
	flex: 1 1 50px;
	border: 1px solid white;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;

	&.concealed {
		cursor: pointer;
		background-color: grey;
		&.selected {
			cursor: default;
			background-color: white;
			> p {
				
			}
		}

		> p {
			font-size: 500%;
			
		}

		&.inactive {
			cursor: default;
		}
	}

	&.revealed {
		&.major {
			background-color: red;
			> p {
				color: yellow;
				font-style: italic;
				font-size: 200%;
			}
			
		}

		&.prize {
			background-color: orange;

			> p {
				color: yellow;
				font-size: 200%;
			}
			
		}

		&.score {
			background-color: green;

			> p {
				color: yellow;
				font-style: italic;
				font-size: 500%;
			}
			
		}

		&.generic {
			background-color: $background-color;

			> p {
				color: white;

			}
		}
	}
}


div.cash-card-prize-desc {
	flex: 2 2 50px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border: 1px solid white;
	overflow-y: auto;
	> p {
		color: white;
		font-size: 150%;
		font-family: 'Korinna Bold';
	}
}

div.cash-card-prize {

	> p {
		color: white;
		font-size: 150%;
		font-family: 'Korinna Bold';
	}
}

div.cash-card-variable-panel {
	flex: 1 1 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 1px solid white;
}

div.cash-card-variable {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	> input[type=number] {
		width: auto;
		font-size: 150%;
		text-align: center;
		max-width: 100px;
	}
	
	> p {
		color: white;
		font-size: 150%;
		font-family: 'Korinna Bold';
	}
}

div.cash-card-bottom {
	flex: 0 0 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid white;

	> p {
		color: white;
		font-family: 'Korinna Bold';
		font-size: 150%;
		margin: auto;
	}
}

/* Fame Game Board */

div.fame-game-board {
	display: flex;
	position: relative;
	flex: 1 1 auto;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	background-color: $background-color;
	padding: 5px;
	max-width: auto;
}

div.fame-game-names {
	display: flex;
	flex-direction: column;
}

div.fame-game-names-row {
	display: flex;
	flex: 1 1 auto;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;

	&.reversed {
		flex-direction: row-reverse;
	}
}

div.fame-game-name {
	flex: 1 1 auto;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 10px;
	margin: 5px;
	cursor: pointer;
	&.inactive {
		background-color: grey;
		color: grey;
	}
}

div.fame-game-intro {
	background-color: rgb(185, 185, 185);
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
}

div.fame-game-intro-container {
	overflow-y: auto;
}


p.no-players {
	text-align: center;
}

/* Round Break */

div.round-break {
	position: relative;
	flex: 1 1 auto;
	align-items: stretch;
	padding: 5px;
	max-width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: $background-color;

	> p {
		color: white;
		font-size: 150%;
		font-family: 'Korinna Bold';
	}
}

/* Fast Money */

div.fast-money-start {
	position: relative;
	flex: 1 1 auto;
	align-items: stretch;
	padding: 5px;
	max-width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: $background-color;
	border: 1px solid white;

	> p {
		color: white;
		font-size: 150%;
		font-family: 'Korinna Bold';
	}
}

div.fast-money-header {
	height: 30px;
	border: 1px solid white;
	display: flex;
	flex-direction: row;
}
div.fast-money-title {
	flex: 3 3 auto;
	height: 30px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	border-right: 1px solid white;
	
	> p {
		color: white;
		text-transform: uppercase;
		font-size: 150%;
	}
}

div.fast-money-clock {
	
	flex: 0 0 auto;
	height: 30px;
	width: 100px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	cursor: default;

	> p {
		color: white;
		text-transform: uppercase;
		font-size: 150%;
		text-align: center;
	}

	&.paused {
		background-color: grey,
	}
	&.over {
		background-color: red,
	}
}

div.fast-money-button {
	width: 30px;
	flex: 0 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: 1px solid white;
	cursor: pointer;

	> p {
		color: white;
	}

	&.pause {
		background-color: grey;
	}

	&.play {
		background-color: $background-color
	}

	&.over {
		background-color: red;
		cursor: default;

		> p {
			font-size: 150%;
		}
	}
}

/* Post Game Panel */



.post-game {
	position: relative;
	flex: 1 1 auto;
	align-items: stretch;
	padding: 5px;
	max-width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: $background-color;
	.post-game-winner {
		border: 1px solid white;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
		> p {
			color: white;
			font-size: 150%;
			font-family: 'Korinna Bold';
		}
	}
	
	.post-game-summary-ctr {
		border: 1px solid white;
		flex: 4 4 auto;
		overflow-y: auto;
		.post-game-prize-summary p {
			
			font-size: 150%;
			font-family: 'Korinna Bold';
			color: white;
		}
	}
	
	.post-game-button {
		border: 1px solid white;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

/* Winners Board */

div.board-bonus {
	display: flex;
	position: relative;
	flex: 1 1 auto;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	background-color: $background-color;
	padding: 5px;
	max-width: auto;
}

div.board-bonus-header {
	flex: 0 0 auto;
	height: 30px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	border: 1px solid white;
	
	> p {
	
		color: white;
		text-transform: uppercase;
		font-size: 150%;
	}
}

div.winners-board-container {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	padding: 5px;
	border: 1px solid white;
}

div.winners-board-option-row {
	flex: 1 1 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
}

div.winners-board-option {
	flex: 1 1 50px;
	border: 1px solid white;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	> p {
		font-size: 400%;
		color: white;
		font-family: "Verdana";
	}

	&.revealed {
		cursor: default;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&.prize {
			background-color: orange;

			&.major {
				background-color: black;
				> p {
					color: white;
				}
			}

			> p {
				color: yellow;
				font-size: 200%;
			}
			
		}

		&.win {
			background-color: green;

			> p {
				color: yellow;
				font-style: italic;
				font-size: 500%;
			}
			
		}

		&.generic {
			background-color: $background-color;

			> p {
				color: white;

			}
		}
	}

	&.inactive {
		cursor: default;
	}

	&.removed {
		cursor: default;
		> p {
			display: none;
		}
	}
}

div.board-bonus-bottom {
	flex: 0 0 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid white;

	> p {
		color: white;
		font-family: 'Korinna Bold';
		font-size: 150%;
		margin: auto;
	}
}



/* Winner Decision Panel */

.decision {
	position: relative;
	flex: 1 1 auto;
	align-items: stretch;
	padding: 5px;
	max-width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: $background-color;
	.decision-heading {
		border: 1px solid white;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
		> p {
			color: white;
			font-size: 150%;
			font-family: 'Korinna Bold';
		}
	}
	
	.decision-summary-ctr {
		border: 1px solid white;
		flex: 4 4 auto;
		overflow-y: auto;
		h2 {
			font-size: 200%;
			font-family: 'Korinna Bold';
			color: white;
			text-align: center;
		}
		p {
			font-size: 150%;
			font-family: 'Korinna Bold';
			color: white;
		}
	}

	.decision-made {
		border: 1px solid white;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		p {
			font-size: 150%;
			font-family: 'Korinna Bold';
			color: white;
		}
	}
	
	.decision-button {
		border: 1px solid white;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}